#nav {
  border-style: groove;
  border: $color-5 1px solid;
  @include border-radius(8px);
  width: 35%;
  margin: 0 auto;
  margin-top: 5px;

  ul {
    list-style-type: none;
    text-align: center;
    margin: 10px;
    padding: 0;
  }

  li {
    display: inline;
    margin: 10px;
  }

  a {
    text-decoration: none;
    color: $color-6;
    &:hover {
      color: $color-4;
    }
  }
}

#menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  margin: 10px;
}
/*Media queries nav*/
@media screen and (max-width: 768px) {
  #nav {
    width: 95vw;
    text-align: left;
    padding-bottom: 5px;

    ul {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      margin-left: 15px;

      &.active {
    display: flex;
  }
    }
    li {
      display: block;
      margin: 10px 0;
    }

    #menu-toggle {
      display: block;
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 1423px) {
  #nav {
    width: 65%;
    height: auto;
  }
}
