body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

main{ 
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
}
footer{
    width: auto;
    height: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-top: #000000 1px solid; 
 }
/* CSS Navegación*/
#nav{
    border-style:groove;
    border-color: #000000 1px solid;
    border-radius: 8px;
    width: 35%;
    margin: 0 auto;
    margin-top: 5px;
    }

nav ul{
    list-style-type: none;
    text-align: center;    
    margin: 10px;
    padding: 0;
    }

nav li{
    display: inline;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    opacity: 0.8;
}

nav a:hover{
    opacity: 1;
}

/* CSS footer */
footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    }
    
img.linkedin{
    padding-left: 5px;
    width: 20px;
    height: 20px;
}
/* CSS main */
.principal{
    width: 95vw; 
    height: 85vh; 
    margin: 10px auto;
    border-style: groove;
    border: #000000 1px solid;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info-principal{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.info-principal > h1,h2,p{
    margin-left: 20px;
}
.imagen-principal{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile{
    width: 40%;
    height: 40%;
    border-radius: 4px;
    box-shadow: #1a1515 2px 2px 5px;
}

.btn{
    width: 10%;
    height: 40px;
    margin: 10px auto;
    border-radius: 5px;
    color: Black;
    border: none;
    cursor: pointer;;
}

.btn > a{
    text-decoration: none;
    color: white;
}
/* CSS media queries */
@media (max-width: 768px) {
    .principal {
        flex-direction: column; 
        height: auto;
    }

    .info-principal,
    .imagen-principal {
        width: 100%; 
        height: auto; 
        text-align: center; 
    }

    .profile {
        width: 85%;
        height: 90%;
    }

    main{
        height: 100%; 
    }
}