.contenedor-main-skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.container-skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.section-skills {
  border: 2px solid $color-5;
  padding: 1rem;
  box-shadow: 0 2px 4px $color-4;
}



.label {
  font-size: 1.4rem;
  color: $color-6;
  margin-bottom: 0.3rem;

  &:hover {
   transform: scale(1.05);
  transition: transform 0.3s ease;
  }
}

.container-progress {
  display: flex;
  align-items: center;
  height: 24px;
}

.barra-progreso {
  @include w-h(80%, 100%);
  background-color: $color-3;
  border-radius: 5px;
  transition: transform 0.3s ease;
  animation: colorSkill 7s infinite alternate;
  &:hover {
    transform: scale(1.06);

}
}

.porcentaje {
  margin-left: auto;
  padding: 0 0.5rem;
  background: transparent;
  color: $color-6;
}

.skills-text {

  span {
   color: $color-6;
  display: inline-block;
  font-size: 3rem;
  animation: movi 2s ease-in-out infinite;
  margin-bottom: 1rem;

  &:nth-child(1) {
    animation-delay: 0s;
  }

 &:nth-child(2) {
    animation-delay: 0.2s;
  }
   &:nth-child(3) {
    animation-delay: 0.4s;
  }
   &:nth-child(4) {
    animation-delay: 0.6s;
  }
}
}

@media (max-width: 768px) {
 .contenedor-main-skills {
    flex-direction: column;
    gap: 1rem;
    width: 95%;
  }

  .container-skills {
    grid-template-columns: 1fr;
  }

  .section-skills {
    padding: 0.5rem;
  }

  .label {
    font-size: 1.2rem;
  }

  .barra-progreso {
    @include w-h(100%, 100%);
  }
}
