@mixin flex-colum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
}

@mixin border-radius($radius) {
    border-radius: $radius;
}

@mixin w-h($width, $height) {
    width: $width;
    height: $height;
}