$color-1: #0b0c10;
$color-2: #1f2833;
$color-3: #c5c6c7;
$color-4: #66fcf1;
$color-5: #45a29e;
$color-6: #fff;
$color-7: #000;
$color-8: #ccc;
$color-9: #666;
$color-10: #555;

$background-color: linear-gradient(
    90deg,
    rgba(11, 12, 16, 1) 0%,
    rgba(31, 40, 51, 1) 60%
  );
